<!DOCTYPE html>
<html ng-app="BookStore">
	<head>
		<title>Book Store</title>

		<!-- bootstrap.min.css -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container" ng-controller="BookController">
			<div class="row">
				<div class="col-md-12">
					<h2>Book Store Application</h2>
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<form class="form">
						<fieldset>
							<legend><i class="glyphicon glyphicon-book"></i> Book Information</legend>
							<div class="form-group">
								<label class="form-label">Title</label>
								<input type="text" name="title" ng-model="title" class="form-control" placeholder="Enter Book Title..." />		
							</div>
							<div class="form-group">
								<label class="form-label">Author</label>
								<input type="text" name="author" ng-model="author" class="form-control" placeholder="Enter Book Author..." />		
							</div>
							<div class="form-group">
								<label class="form-label">Price</label>
								<input type="text" name="price" ng-model="price" class="form-control" placeholder="Enter Book Price..." />		
							</div>
							<div class="form-group">
								<input type="submit" ng-click="save()" value="Save Book" class="btn btn-xl btn-info" />	
							</div>	
						</fieldset>
					</form>
				</div>
				<div class="col-md-6">
					<div class="input-group">
				      	<div class="input-group-btn">
				        	<button type="button" class="btn btn-info dropdown-toggle">Search: </button>
				      	</div>
				      	<input type="text" ng-model="search" name="search" class="form-control" />
				    </div>
					<table style="margin-top: 20px;" class="table table-bordered table-hover table-collapse">
						<thead>
							<th> TITLE </th>
							<th> AUTHOR </th>
							<th> PRICE </th>
						</thead>
						<tbody>
							<tr ng-repeat="book in books | filter:search | orderBy:'title':reverse=true">
								<td> {{ book.title }}  </td>
								<td> {{ book.author }} </td>
								<td> {{ book.price }}  </td>
							</tr>
						</tbody>
					</table>	
				</div>
			</div>
		</div>

		<!-- angular.min.js -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

		<!-- js/app.js -->
		<script src="js/app.js"></script>
	</body>
</html>